<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WcfService3.Service1">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:58610/Service1.svc"/>
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="WcfService3.IService1" />
      </service>
    </services>
  </system.serviceModel>

</configuration>
